/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/* gallery1 style sheet */
